
.containupl{
    background-color: #6F3096;
    height: 90vh;
    display: flex;

}

.boxupl{
    margin: auto;
    width: 50%;
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 65%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.5);
    border-radius: 21px;
}

.lefttextupl{
    display: flex;
    margin: auto;
    width: 40%;
    height: 50%;
    flex-direction: column;
}

.textupl1{
    height: 30%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 200%;
    line-height: 121%;
    text-align: left;
    color: #252F65;
}

.textupl2{
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 300;
    font-size: 145%;
    line-height: 121%;
    text-align: left;
    color: #252F65;
}

.righttextupl{
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #06114F;
    padding-bottom: 2%;
}

.rightforms{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 8%;
    width: 40%;
    height: 70%;
}

.InputUpload2{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 1px solid #252F65;
    border-radius: 5px;
}

.InputUpload1{
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    border: 1px solid #06114F;
    border-radius: 5px;
}

.ButonUpload{
    background: #6F3096;
    border-radius: 5px;
    margin: auto;
    height: 10%;
    width: 40%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 250%;
    text-align: center;
    color: #FFFFFF;
}