@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&family=Roboto:wght@300&display=swap');

.ContainerNav{
  width: 100%;
  margin: auto;
  height: 12vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #fff;
}

.LeftNav{
  display: flex;
  margin: auto;
  width: 80%;
  height: 60%;
}

.RightNav{
  display: flex;
  width: 10%;
  margin: auto;
  margin-right: 4%;
  justify-content: space-between;
  flex-direction: row;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-size: 125%;
  color: #06114F;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}