.NavBtnLink1{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #06114F;
  background: #fff;
  padding: 1px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  justify-content: space-evenly; 
  @media screen and (max-width: 768px) {
    display: none;
}
}

.NavBtnLink2{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #06114F;
    background: #fff;
    padding: 1px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    justify-content: space-evenly; 
    @media screen and (max-width: 768px) {
        display: none;
    }
}
   
.NavBtnLink3{
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    cursor: pointer;
    z-index: 1;
    };


.NavLink1{
    color: #fff;
  display: flex;
  height: 100%;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
  }
}

.NavLink2{
    color: #fff;
  display: none;
  height: 100%;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: block;
    top: 0;
    right: 0;
    transform: translate(15%, 30%);
    cursor: pointer;
  }
;
}

.NavBtn{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px)
{
    .NavBtn{
        display: none;
    }
}
  
