.ContainerFooter{
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-color:#06114F;
    width: 100%;
    margin: auto;
}

.MiddleFooter{
    display: flex;
    margin: auto;
    width: 100%;
    height: 70%;
    flex-direction: column;
}

.LinksFooter{
    display: flex;
    flex-direction: row;
    width: 5%;
    height: 25%;
    margin: auto;
    justify-content: space-between;
    cursor: pointer;
}

.TextFooter{
    display: flex;
    width: auto;
    margin: auto;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 120%;
    line-height: 121.1%;
    text-align: center;
    color: #FFFFFF;
}