.ContainerFooter{
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-color:#06114F;
}

.LinksFooter{
    display: flex;
    margin: auto;
    
    flex-direction: row;
}

.TextFooter{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 121.1%;
    text-align: center;
    color: #FFFFFF;
}