.ContainerMostViewed{
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-bottom: 3%;
}

.TextMostViewed{
    width: 20%;
    height: 25%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 210%;
    line-height: 170%;
    text-align: center;
    color: #252F65;
}

.PicsMostViewed{
    display: flex;
    flex-direction: row;
    width: 92%;
    height: 130%;
    margin: auto;
    justify-content: space-between;
}
