.ContainerMostViewed{
    display: flex;
    flex-direction: column;
}

.TextMostViewed{
    position: absolute;
    width: 231px;
    height: 45px;
    left: 69px;
    top: 1526px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #252F65;
}

.PicsMostViewed{
    display: flex;
    flex-direction: row;
}
