.AbsolutePopup1{
    position: fixed;
    background: rgba(111, 48, 150, 0.7);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerPopup1{
    width: 25%;
    height: 65%;
    display: flex;
    flex-direction: column;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms, ease-in-out 0ms;
}

.BarPopup1{
    background-color: #fff;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LogoBarPopup1{
    display: flex;
    margin-top: 1%;
    margin-left: 3%;
}

.CloseBtnPopup{
    display: flex;
    margin-top: 1%;
    margin-right: 3%;
    cursor: pointer;
}

.MainPopup1{
    background-color: #6F3096;
    height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoxPopup1{
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    border-radius: 3%;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.Text1Popup1{
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 32px;

color: #6F3096;
margin-bottom: 10%;
margin-top: -30%;
}

.Text2Popup1{
    text-align: left;
    height: 5%;
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;

color: #252F65;
}

.InputPopup1{
    box-sizing: border-box;
    width: 70%;
    height: 8%;
    border: 1px solid #06114F;
    border-radius: 5px;
    font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;


color: rgba(6, 17, 79, 0.3);
    padding: 4%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.BtnPopup1{
    background: #6F3096;
    border-radius: 5px;
    height: 10%;
    width: 50%;
    margin-top: 5%;
    margin-bottom: -20%;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 280%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    border: none;
    
}

