@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Roboto:wght@300&display=swap');

.cont{
    display: flex;
    flex-direction: row;
    height: 82vh;
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    margin-top: 3%;
}

.emty{
    height: 12vh;
}

.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 75%;
    margin-left: -15%;
}


.text1{
    margin-top: 10%;
    font-family: 'Merriweather';
    width: 60%;
    font-style: normal;
    font-weight: 900;
    font-size: 300%;
    line-height: 121%;
    text-align: center;
    color: #252F65;
}

.text2{
    width: 50%;
    font-family: 'Roboto'; 
    font-style: normal;
    font-weight: 300;
    font-size: 150%;
    line-height: 121%;
    text-align: center;
    color: #252F65;
    margin-top: 1%;
}

.btn{
    background: #6F3096;
    border-radius: 5px;
    width: 23%;
    height: 10%;
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-size: 125%;
    line-height: 325%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}


.img1{
    display: flex;
    margin-top: 6%;
    width: 45%;
    height: 90%;
}

@media screen and (max-width: 768px) {
    .cont{
        display: flex;
        flex-direction: column;
    }
    
}
